.book-image {
    max-width: 450px;
    height: 650px;
}

.user-book-detail {
    margin-top: 50px;
}

.image-container {
    width: 300px;
    height: auto;
}

.book-details {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.book-title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.book-info {
    font-size: 16px;
    color: #666;
    margin-bottom: 5px;
}

.book-description {
    margin-top: 20px;
    font-size: 18px;
    line-height: 1.5;
}

.quantity-input {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.quantity-label {
    font-size: 18px;
    margin-right: 10px;
}

.quantity-field {
    width: 60px;
    text-align: center;
    font-size: 16px;
    padding: 5px;
}

.add-to-cart-section {
    margin-top: 20px;
}

.rating-comment-section {
    margin-top: 20px;
}

.rating-stars {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.rating-star {
    cursor: pointer;
    font-size: 24px;
    color: #c7c7c7;
    transition: color 0.3s;
}

.rating-star:hover {
    color: #ffc107;
}

.rating-star.selected {
    color: #ffc107;
}

.submit-comment-button {
    margin-top: 10px;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-comment-button:hover {
    background-color: #0056b3;
}