<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>laptops</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="row">
			<h1>List laptops</h1>
		</div>
		<table class="table table-striped table-bordered">
			<thead class="table-dark">
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Price</th>
					<th>Brand</th>
					<th>Sold</th>
					<th>Nsx</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="laptop: ${laptops}">
					<td th:text="${laptop.id}"></td>
					<td th:text="${laptop.name}"></td>
					<td th:text="${laptop.price}"></td>
					<td th:text="${laptop.brand}"></td>
					<td><input type="checkbox" th:checked="${laptop.sold}" /></td>
					<td type="date" th:text="${laptop.nsx}" ></td>
					<td><a th:href="@{laptop/{id}(id = ${laptop.id})}"
						class="btn btn-success">View</a>
						<form th:method="delete" th:action="@{laptop/{id}(id = ${laptop.id})}" th:onsubmit="return confirmDelete()">
							<button class="btn btn-danger">Delete</button>
						</form>
					</td>
				</tr>
			</tbody>
		</table>
		<a th:href="@{laptop/{id}(id = -1)}" class="btn btn-success col-lg-12">New
			laptop</a>
	</div>
	<script type="text/javascript">
		function confirmDelete(){
			return confirm("ban co thuc su muon xoa?");
		}
		
	</script>
</body>
</html>
