<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Book</title>
</head>
<body>
	<div class="row">
		<h1>Book</h1>
	</div>
	<form th:object="${book}" th:action="@{/book/save/{id}(id=${book.bookcode})}"
		th:method="${book.bookcode} <= 0 ? POST : PUT">
		BookCode: <input type="number" name="bookcode" min=1
			th:value="${book.bookcode}"><br /> Title: <input type="text"
			name="title" th:value="${book.title}"><br /> Author: <input
			type="text" name="author" th:value="${book.author}"><br />
		Category: <input type="text" name="category"
			th:value="${book.category}"><br /> Approved: <input
			type="checkbox" name="approved" th:checked="${book.approved}"><br />
		<input type="submit" value="Save Book">
		<h3 th:text="${mess}"></h3>
	</form>
	<script type="text/javascript">
		const form = document.querySelector('form');
		const inputs = form.querySelectorAll('input');
		form.addEventListener('submit', (e) => {
		  let isEmpty = false;
		  inputs.forEach((input) => {
		    if (input.value === '') {
		      isEmpty = true;
		    }
		  });
		  if (isEmpty) {
		    e.preventDefault();
		    alert('Vui lòng điền đầy đủ thông tin');
		  }
		});

	</script>
</body>
</html>
